body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main,
.section,
.container {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.flex-wrapper {
  height: 100%;
}

.area {
  /* width: 100%; */
  flex-grow: 1;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.results {
  height: 100%;

  padding: 8px;
  background-color: beige;
  border: 1px solid #ccc;
  border-radius: 4px;
}
