body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main,
.section,
.container {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fieldset {
  display: flex;
  gap: 12px;
  align-items: baseline;
}

.input {
  width: 100px;

  background-color: white;
  border-radius: 4px;
  padding: 4px;
  line-height: 100%;
}

.input:disabled {
  background-color: transparent;
}

.form-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.flex-wrapper {
  position: relative;
  height: 100%;
}

.area {
  position: relative;
  flex-grow: 1;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.results,
.limits {
  /* height: 100%; */

  padding: 8px;
  min-width: 200px;

  background-color: beige;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.results {
  margin-bottom: 12px;
}

.title {
  margin-bottom: 12px;

  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.click-element {
  position: absolute;
  z-index: 999;
  width: 10px;
  height: 10px;
  background-color: lightblue;
  border-radius: 50%;
  cursor: pointer;

  animation: scale-element 3s ease-out 1 forwards;
}

@keyframes scale-element {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(10);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  padding: 40px;

  border: 1px solid #ccc;
  border-radius: 4px;

  background-color: azure;
}

.modal-item {
  display: flex;
  justify-content: space-between;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999;

  padding: 0;

  width: 20px;
  height: 20px;
  border-radius: 50%;
}

@media screen and (max-width: 1279px) {
  .container {
    width: 100%;
  }

  .info-bar {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .modal {
    padding: 30px;
    min-width: 280px;
  }

  .close-btn {
    top: 12px;
    right: 12px;

    width: 16px;
    height: 16px;
  }
}
